dist
.env
.eslintcache
.DS_Store
.elm-pages
elm-stuff
node_modules
packages/reva-api/modules/generated-graphql-schema.graphql
packages/reva-api/modules/graphql/generated
infra/ftps/data/*
.parcel-cache
.vscode
.idea
.run
.nyc_output
*.code-workspace
**/private
**/coverage
**/screenshots
**/videos
**/storybook-static
**/generated
.cursorignore
*.local*
!infra/strapi/types/generated/
