dist
.env
.DS_Store
.elm-pages
elm-stuff
node_modules
packages/reva-website/public/style.css
packages/reva-api/infra/generated-graphql-schema.graphql
infra/ftps/data/*
.parcel-cache
.vscode
**/private
**/coverage
**/screenshots
**/videos
**/storybook-static