@import url("@gouvfr/dsfr/dist/dsfr.min.css");
@import url("@gouvfr/dsfr/dist/utility/utility.min.css");

/*
   For some reasons, these url are not resolved in dsfr.min.css.css.
   Putting them here solves the issue
*/
.fr-search-bar .fr-btn::before {
    mask-image: url("../icons/system/search-line.svg");
}

[target=_blank]:after {
    mask-image: url("../icons/system/external-link-line.svg");
}

.fr-header__navbar .fr-btn--menu:before {
    mask-image: url("../icons/system/menu-fill.svg");
}

.fr-sidemenu__inner > .fr-sidemenu__btn:before {
    mask-image: url("../icons/system/menu-2-fill.svg");
}

.fr-sidemenu__btn[aria-expanded]:after {
    mask-image: url("../icons/system/arrow-down-s-line.svg");
}

.fr-alert--error:before, .fr-error-text:before, .fr-badge.fr-badge--error:before {
    mask-image: url("../icons/system/fr--error-fill.svg");
}

.fr-alert--warning:before {
    mask-image: url("../icons/system/fr--warning-fill.svg");
}

.fr-alert--info:before, .fr-badge.fr-badge--info:before {
    mask-image: url("../icons/system/fr--info-fill.svg");
}

.fr-alert--new:before, .fr-badge.fr-badge--new:before {
    mask-image: url("../icons/weather/flashlight-fill.svg");
}

.fr-alert--success:before, .fr-badge.fr-badge--success:before {
    mask-image: url("../icons/system/fr--success-fill.svg");
}

.fr-notice .fr-notice__body:before {
    mask-image: url("../icons/system/fr--info-fill.svg");
}

.fr-pagination__link--next:before, .fr-pagination__link--next.fr-pagination__link--lg-label:after {
    mask-image: url("../icons/system/arrow-right-s-line.svg");
}

.fr-pagination__link--prev:before, .fr-pagination__link--prev.fr-pagination__link--lg-label:before {
    mask-image: url("../icons/system/arrow-left-s-line.svg");
}