@import url("@gouvfr/dsfr/dist/dsfr.min.css");
@import url("@gouvfr/dsfr/dist/utility/utility.min.css");

/*
   For some reasons, these url are not resolved in dsfr.min.css.css.
   Putting them here solves the issue
*/
.fr-search-bar .fr-btn::before {
  mask-image: url("../icons/system/search-line.svg");
}

[target=_blank]:after {
  mask-image: url("../icons/system/external-link-line.svg");
}

.fr-header__navbar .fr-btn--menu:before {
  mask-image: url("../icons/system/menu-fill.svg");
}

.fr-sidemenu__inner > .fr-sidemenu__btn:before {
  mask-image: url("../icons/system/menu-2-fill.svg");
}

.fr-sidemenu__btn[aria-expanded]:after {
  mask-image: url("../icons/system/arrow-down-s-line.svg");
}

.fr-alert--error:before, .fr-error-text:before  {
  mask-image: url("../icons/system/fr--error-fill.svg");
}
