@import "tailwind-base.css";
@import url("@gouvfr/dsfr/dist/utility/utility.min.css");
@import url("@gouvfr/dsfr/dist/dsfr.min.css");
@import "tailwind.css";


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input::-webkit-date-and-time-value {
  text-align: left;
}
