@import "tailwind.css";
@import "dsfr.css";

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input::-webkit-date-and-time-value {
    text-align: left;
}
