@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #edefff;
  background: -webkit-linear-gradient(to top right, #edefff, #decbcc);
  background: linear-gradient(to top right, #edefff, #decbcc);
}

@media (max-width: 640px) {
  body {
    background: white;
  }
}