@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  div,
  a,
  button {
    -webkit-tap-highlight-color: transparent;
  }
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne-ExtraBold"),
    url("/public/fonts/Marianne/Marianne-ExtraBold.woff") format("woff"),
    url("/public/fonts/Marianne/Marianne-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne-Bold"),
    url("/public/fonts/Marianne/Marianne-Bold.woff") format("woff"),
    url("/public/fonts/Marianne/Marianne-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne-Bold_Italic"),
    url("/public/fonts/Marianne/Marianne-Bold_Italic.woff") format("woff"),
    url("/public/fonts/Marianne/Marianne-Bold_Italic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"),
    url("/public/fonts/Marianne/Marianne-Medium.woff") format("woff"),
    url("/public/fonts/Marianne/Marianne-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"),
    url("/public/fonts/Marianne/Marianne-Regular.woff") format("woff"),
    url("/public/fonts/Marianne/Marianne-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne_Italic"),
    url("/public/fonts/Marianne/Marianne-Regular_Italic.woff") format("woff"),
    url("/public/fonts/Marianne/Marianne-Regular_Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

body {
  margin: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input::-webkit-date-and-time-value {
  text-align: left;
}
