/** The following styles must be imported in this specific order.
    To work around the https://github.com/vercel/next.js/issues/16630 issue,
    we use inlined imports via postcss and cascade layers to control ordering.
    1-  Reset the styles for browser consistency with the tailwind base
    2 - Add DSFR icon styles (it has to come before DSFR default styles)
    3 - Set default DSFR styles to html tags
    4 - Add Tailwind utilities and other classes that, coming last, can override DSFR styles
**/

@layer tw_base, dsfr_icons, dsfr, tw_components_utils;

@import "@codegouvfr/react-dsfr/dsfr/utility/icons/icons.min.css" layer(dsfr_icons);
@import "@codegouvfr/react-dsfr/dsfr/dsfr.min.css" layer(dsfr);

@layer tw_base {
    @tailwind base;
}

@layer tw_components_utils {
    @tailwind components;
    @tailwind utilities;
}


@font-face {
    font-family: "Marianne";
    src: local("Marianne-ExtraBold"),
    url("/public/fonts/Marianne-ExtraBold.woff") format("woff"),
    url("/public/fonts/Marianne-ExtraBold.woff2") format("woff2");
    font-weight: 800;
}

@font-face {
    font-family: "Marianne";
    src: local("Marianne-Bold"),
    url("/public/fonts/Marianne-Bold.woff") format("woff"),
    url("/public/fonts/Marianne-Bold.woff2") format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: "Marianne";
    src: local("Marianne-Bold_Italic"),
    url("/public/fonts/Marianne-Bold_Italic.woff") format("woff"),
    url("/public/fonts/Marianne-Bold_Italic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Marianne";
    src: local("Marianne"),
    url("/public/fonts/Marianne-Medium.woff") format("woff"),
    url("/public/fonts/Marianne-Medium.woff2") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Marianne";
    src: local("Marianne"),
    url("/public/fonts/Marianne-Regular.woff") format("woff"),
    url("/public/fonts/Marianne-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Marianne";
    src: local("Marianne_Italic"),
    url("/public/fonts/Marianne-Regular_Italic.woff") format("woff"),
    url("/public/fonts/Marianne-Regular_Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}

body {
    margin: 0;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 640px) {
    body {
        background: white;
    }
}

input::-webkit-date-and-time-value {
    text-align: left;
}

.fr-icon-wheelchair-fill::before,
.fr-icon-wheelchair-fill::after {
    -webkit-mask-image: url("../public/icons/remixicon/wheelchair-fill.svg");
    mask-image: url("../public/icons/remixicon/wheelchair-fill.svg");
}

@layer components {
    .bg-candidate {
        background-repeat: no-repeat;
        background-position-x: center;
        background-color: white;
        background-image: url("../public/bg-candidate.svg");
    }
}