# route app.region.scalingo.io/ to my-api.region.scalingo.io/

http:
  routers:
    # --- BEGIN STAGING ---

    auth-reva-incubateur-net:
      rule: "Host(`auth.reva.incubateur.net`)"
      service: auth-reva-incubateur-net
      middlewares:
        - removeHeader

    metabase-reva-incubateur-net:
      rule: "Host(`metabase.reva.incubateur.net`)"
      service: metabase-reva-incubateur-net
      middlewares:
        - removeHeader
        - add-anti-clickjacking-headers

    site-web-staging:
      rule: "Host(`reva.incubateur.net`) && PathPrefix(`/`)"
      service: site-web-staging
      middlewares:
        - removeHeader
        - add-security-headers-staging

    espace-pro-react-staging:
      rule: "Host(`reva.incubateur.net`) && PathPrefix(`/admin2`)"
      service: espace-pro-react-staging
      middlewares:
        - removeHeader
        - add-security-headers-staging

    app-candidat-staging:
      rule: "Host(`reva.incubateur.net`) && PathPrefix(`/app`)"
      service: noop@internal
      middlewares:
        - redirect-reva-candidate

    app-candidate-staging:
      rule: "Host(`reva.incubateur.net`) && (Path(`/candidat`) || PathPrefix(`/candidat/`))"
      service: app-candidate-staging
      middlewares:
        - removeHeader
        - add-security-headers-staging

    api-staging:
      rule: "Host(`reva.incubateur.net`) && PathPrefix(`/api`)"
      service: api-staging
      middlewares:
        - removeHeader

    interop-staging:
      rule: "Host(`reva.incubateur.net`) && PathPrefix(`/interop/v1`)"
      service: interop-staging
      middlewares:
        - removeHeader

    vae-collective-staging:
      rule: "Host(`reva.incubateur.net`) && PathPrefix(`/vae-collective`)"
      service: vae-collective-staging
      middlewares:
        - removeHeader

    # Should be removed after the creation of the /api path
    payment-request-staging:
      rule: "Host(`reva.incubateur.net`) && PathPrefix(`/payment-request/proof`)"
      service: site-web-staging
      middlewares:
        - removeHeader
        - add-security-headers-staging

    # Should be removed after the creation of the /api path
    ping-staging:
      rule: "Host(`reva.incubateur.net`) && PathPrefix(`/ping`)"
      service: site-web-staging
      middlewares:
        - removeHeader

    # --- END STAGING ---
    # --- BEGIN PRODUCTION REVA.BETA.GOUV.FR---

    site-web-production:
      rule: "Host(`reva.beta.gouv.fr`)"
      service: noop@internal
      middlewares:
        - redirect-vae-gouv-fr

    # --- END PRODUCTION REVA.BETA.GOUV.FR ---
    # --- BEGIN PRODUCTION VAE.GOUV.FR--

    vae-gouv-main-page-www:
      rule: "Host(`www.vae.gouv.fr`)"
      service: noop@internal
      middlewares:
        - redirect-www
        - add-security-headers-production

    vae-gouv-main-page:
      rule: "Host(`vae.gouv.fr`)"
      service: site-web-production
      middlewares:
        - removeHeader
        - add-security-headers-production

    auth-vae-gouv-fr:
      rule: "Host(`auth.vae.gouv.fr`)"
      service: auth-vae-gouv-fr
      middlewares:
        - removeHeader

    metabase-vae-gouv-fr:
      rule: "Host(`metabase.vae.gouv.fr`)"
      service: metabase-production
      middlewares:
        - removeHeader
        - add-anti-clickjacking-headers

    espace-pro-react-production-vae-gouv-fr:
      rule: "Host(`vae.gouv.fr`) && PathPrefix(`/admin2`)"
      service: espace-pro-react-production
      middlewares:
        - removeHeader
        - add-security-headers-production

    app-candidat-production-vae-gouv-fr:
      rule: "Host(`vae.gouv.fr`) && PathPrefix(`/app`)"
      service: noop@internal
      middlewares:
        - redirect-reva-candidate

    app-candidate-production-vae-gouv-fr:
      rule: "Host(`vae.gouv.fr`)  && (Path(`/candidat`) || PathPrefix(`/candidat/`))"
      service: app-candidate-production
      middlewares:
        - removeHeader
        - add-security-headers-production

    api-production-vae-gouv-fr:
      rule: "Host(`vae.gouv.fr`) && PathPrefix(`/api`)"
      service: api-production
      middlewares:
        - removeHeader

    vae-collective-production-vae-gouv-fr:
      rule: "Host(`vae.gouv.fr`) && PathPrefix(`/vae-collective`)"
      service: vae-collective-production
      middlewares:
        - removeHeader


    # --- END PRODUCTION VAE.GOUV.FR ---

    # --- BEGIN SANDBOX ---

    auth-sandbox-vae-gouv-fr:
      rule: "Host(`auth.sandbox.vae.gouv.fr`)"
      service: auth-sandbox-vae-gouv-fr
      middlewares:
        - removeHeader

    interop-sandbox-doc:
      rule: "Host(`sandbox.vae.gouv.fr`) && (PathPrefix(`/interop/v1/docs`) || PathPrefix(`/interop/v1/documentation/json`))"
      service: interop-sandbox
      middlewares:
        - removeHeader
        - add-interop-proxy-secret-header

    sandbox-api:
      rule: "Host(`sandbox.vae.gouv.fr`) && PathPrefix(`/api`)"
      service: interop-sandbox
      middlewares:
        - removeHeader

    interop-sandbox:
      rule: "Host(`sandbox.vae.gouv.fr`) && PathPrefix(`/interop`)"
      service: interop-sandbox
      middlewares:
        - removeHeader
        - sandboxInteropIpWhitelist
        - sandboxInteropRateLimit
        - add-interop-proxy-secret-header

    # --- END SANDBOX ---

    # Enable dashboard on /dashboard with basic auth
    dashboard:
      rule: 'Host(`{{ env "APP" }}.{{ env "REGION_NAME" }}.scalingo.io`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))'
      service: api@internal
      middlewares:
        - auth
  middlewares:
    removeHeader: # remove double header
      headers:
        customResponseHeaders:
          x-request-id: "" # remove
          strict-transport-security: ""

    add-anti-clickjacking-headers:
      headers:
        customResponseHeaders:
          Content-Security-Policy: "frame-ancestors 'self' https://vae.gouv.fr https://reva.incubateur.net;"

    add-security-headers-production:
      headers:
        customResponseHeaders:
          Content-Security-Policy: "default-src 'none'; form-action 'none'; base-uri 'none'; frame-ancestors 'self'; object-src 'none'; img-src https://client.crisp.chat 'self' data: https: ; script-src 'self' https://static.userguiding.com https://public.produktly.com https://matomo.fabrique.social.gouv.fr https://client.crisp.chat 'unsafe-inline'; style-src 'self' https://static.userguiding.com https://public.produktly.com https://matomo.fabrique.social.gouv.fr https://client.crisp.chat 'unsafe-inline'; connect-src 'self' https://client.crisp.chat https://api.produktly.com https://sessions.bugsnag.com https://strapi.vae.gouv.fr https://matomo.fabrique.social.gouv.fr https://auth.vae.gouv.fr https://api-adresse.data.gouv.fr wss://client.relay.crisp.chat; font-src https://client.crisp.chat 'self' data:; frame-src 'self' blob: https://auth.vae.gouv.fr https://plugins.crisp.chat https://metabase.vae.gouv.fr; media-src 'self' https://healing-nature-bb0384846f.media.strapiapp.com https://youtube.com https://dailymotion.com"
          X-Frame-Options: SAMEORIGIN
          X-Content-Type-Options: nosniff

    add-security-headers-staging:
      headers:
        customResponseHeaders:
          Content-Security-Policy: "default-src 'none'; form-action 'none'; base-uri 'none'; frame-ancestors 'self'; object-src 'none'; img-src https://client.crisp.chat 'self' data: https: ; script-src 'self' https://static.userguiding.com https://public.produktly.com https://matomo.fabrique.social.gouv.fr https://client.crisp.chat 'unsafe-inline'; style-src 'self' https://static.userguiding.com https://public.produktly.com https://matomo.fabrique.social.gouv.fr https://client.crisp.chat 'unsafe-inline'; connect-src 'self' https://client.crisp.chat https://api.produktly.com https://sessions.bugsnag.com https://strapi.vae.gouv.fr https://matomo.fabrique.social.gouv.fr https://auth.reva.incubateur.net https://api-adresse.data.gouv.fr wss://client.relay.crisp.chat; font-src https://client.crisp.chat 'self' data:; frame-src 'self' blob: https://auth.reva.incubateur.net https://plugins.crisp.chat https://metabase.vae.gouv.fr; media-src 'self' https://healing-nature-bb0384846f.media.strapiapp.com https://youtube.com https://dailymotion.com"
          X-Frame-Options: SAMEORIGIN
          X-Content-Type-Options: nosniff

    add-interop-proxy-secret-header:
      headers:
        customRequestHeaders:
          X-Interop-Secret: "{{ env "INTEROP_PROXY_SECRET" }}"

    removePath:
      replacePath:
        path: "/"

    redirect-reva-candidate:
      redirectRegex:
        regex: "/app(.*)"
        replacement: "/candidat${1}"
        permanent: true

    redirect-www:
      redirectRegex:
        regex: "^https?://www\\.(.+)"
        replacement: "https://${1}"
        permanent: true

    redirect-vae-gouv-fr:
      redirectRegex:
        regex: ".*"
        replacement: "https://vae.gouv.fr/"
        permanent: true

    auth:
      basicAuth:
        users:
          - '{{ env "BASIC_AUTH_USER_PASSWORD" }}' # htpasswd format  BASIC_AUTH_USER_PASSWORD="test:TODEFINED"
    sandboxInteropIpWhitelist:
      ipWhiteList:
        sourceRange:
        {{- $whitelist := splitList "," (env "SANDBOX_INTEROP_IP_WHITELIST") }}
        {{- range $ip := $whitelist }}
          - {{ $ip | quote }}
        {{- end }}
        ipStrategy:
          excludedIPs:
            - "10.0.0.1/24"

    sandboxInteropRateLimit:
      rateLimit:
        average: 20
        burst: 50

  services:
    # --- BEGIN STAGING ---

    auth-reva-incubateur-net:
      loadBalancer:
        passHostHeader: false
        servers:
          - url: "https://auth-reva-incubateur-net.osc-fr1.scalingo.io/"

    metabase-reva-incubateur-net:
      loadBalancer:
        passHostHeader: false
        servers:
          - url: "https://metabase-reva-incubateur-net.osc-fr1.scalingo.io/"

    site-web-staging:
      loadBalancer:
        passHostHeader: false
        servers:
          - url: "https://reva-staging-website.osc-fr1.scalingo.io/"

    espace-pro-react-staging:
      loadBalancer:
        passHostHeader: false
        servers:
          - url: "https://reva-admin-react.osc-fr1.scalingo.io/admin2/"

    app-candidat-staging:
      loadBalancer:
        passHostHeader: false
        servers:
          - url: "https://reva-staging.osc-fr1.scalingo.io/app/"

    app-candidate-staging:
      loadBalancer:
        passHostHeader: false
        servers:
          - url: "https://reva-staging-candidate.osc-fr1.scalingo.io/candidat/"

    api-staging:
      loadBalancer:
        passHostHeader: false
        servers:
          - url: "https://reva-staging.osc-fr1.scalingo.io/api"

    interop-staging:
      loadBalancer:
        passHostHeader: false
        servers:
          - url: "http://reva-staging-interop.osc-fr1.scalingo.io/interop/v1"

    vae-collective-staging:
      loadBalancer:
        passHostHeader: false
        servers:
          - url: "https://reva-staging-vae-collective.osc-fr1.scalingo.io/"

    # --- END STAGING ---

    # --- BEGIN PRODUCTION ---

    framer-reva-beta-gouv-fr-maintenance-page:
      loadBalancer:
        passHostHeader: false
        servers:
          - url: "https://cold-tool-912858.framer.app/"

    site-web-production:
      loadBalancer:
        passHostHeader: false
        servers:
          - url: "https://reva-prod-website.osc-secnum-fr1.scalingo.io/"

    auth-vae-gouv-fr:
      loadBalancer:
        passHostHeader: false
        servers:
          - url: "https://auth-reva-beta-gouv-fr.osc-secnum-fr1.scalingo.io/"

    metabase-production:
      loadBalancer:
        passHostHeader: false
        servers:
          - url: "https://metabase-reva-beta-gouv-fr.osc-secnum-fr1.scalingo.io/"

    espace-pro-react-production:
      loadBalancer:
        passHostHeader: false
        servers:
          - url: "https://reva-prod-admin-react.osc-secnum-fr1.scalingo.io/admin2/"

    app-candidate-production:
      loadBalancer:
        passHostHeader: false
        servers:
          - url: "https://reva-prod-candidate.osc-secnum-fr1.scalingo.io/candidat/"

    api-production:
      loadBalancer:
        passHostHeader: false
        servers:
          - url: "https://reva-prod.osc-secnum-fr1.scalingo.io/api"

    vae-collective-production:
      loadBalancer:
        passHostHeader: false
        servers:
          - url: "https://reva-prod-vae-collective.osc-secnum-fr1.scalingo.io/"


    # --- END PRODUCTION  ---

    # --- BEGIN SANDBOX ---

    auth-sandbox-vae-gouv-fr:
      loadBalancer:
        passHostHeader: false
        servers:
          - url: "https://reva-sandbox-auth.osc-fr1.scalingo.io/"

    interop-sandbox:
      loadBalancer:
        passHostHeader: false
        servers:
          - url: "https://reva-sandbox-interop.osc-fr1.scalingo.io/interop"
    
    interop-sandbox-api:
      loadBalancer:
        passHostHeader: false
        servers:
          - url: "https://reva-sandbox-api.osc-fr1.scalingo.io/api"
